{% extends "layout.html" %}
{% block title %}
    History
{% endblock %}
{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for t in transactions %}
                <tr>
                    <td class="text-start">{{ t["symbol"] }}</td>
                    <td class="text-end">{{ t["shares"] }}</td>
                    <td class="text-end">{{ t["price"] | usd }}</td>
                    <td class="text-end">{{ t["transacted"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
